.container {
    display: flex;
    justify-content: center; /* Центрує елементи по горизонталі */
    align-items: center;     /* Центрує елементи по вертикалі */
    min-height: 100vh;       /* Задає мінімальну висоту контейнера як висоту вікна браузера */
    flex-wrap: wrap;         /* Дозволяє карткам переноситись на новий рядок */
    gap: 20px;
}

.product-card {

  border: 1px solid #ccc; /* Додає сіру рамку */
  border-radius: 10px; /* Закруглює кути на 10px */
  padding: 15px; /* Додає внутрішні відступи */
  width: 200px; /* Фіксована ширина */
  text-align: center; /* Вирівнює текст по центру */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Додає тінь */
}

/* Стилі для зображення всередині картки */
.product-card img {
  width: 100%; /* Зображення займає всю ширину картки */
  height: auto; /* Зберігає пропорції */
  border-radius: 8px; /* Закруглює кути зображення */
  object-fit: cover; /* Обрізає зображення, щоб воно повністю заповнило контейнер */
}