body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center;     /* Centers items vertically */
  min-height: 100vh;       /* Sets minimum height of the container to the viewport height */
  width: 100%;             /* Ensures the container spans the full width of the page */
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {

  border: 9px solid #ccc; /* Додає сіру рамку */
  border-radius: 10%; /* Закруглює кути на 10px */
  padding: 15px; /* Додає внутрішні відступи */
  width: 300px; /* Фіксована ширина */
  text-align: center; /* Вирівнює текст по центру */
  box-shadow: 0 4px 8px rgba(166, 10, 10, 0.855); /* Додає тінь */
}

/* Стилі для зображення всередині картки */
.product-card img {
  width: 100%; /* Зображення займає всю ширину картки */
  height: auto; /* Зберігає пропорції */
  border-radius: 8px; /* Закруглює кути зображення */
  object-fit: cover; /* Обрізає зображення, щоб воно повністю заповнило контейнер */
}